<div class="no-page-found">
    <div class="container">
        <div class="error-message">
            <h1 class="not-found">404</h1>
            <p class="ketenrangan">PAGE NOT FOUND</p>
            <p class="keterangan2">Sorry the page you're looking for is not found, it might have been removed, renamed, or did not exist in the first place</p>
            <button (click)="backhome()" class="back-home">Back to Home</button>
        </div>
    </div>
</div>
