.no-page-found{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .error-message{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;
    }

    .not-found{
        font-size: 90px;
        color: crimson;
        font-weight: 700;

    }

    .ketenrangan{
        margin-top: 20px;
        font-size: 20px;
    }

    .keterangan2{
        margin-top: 60px;
    }

    .back-home{
        width: 200px;
        height: 40px;
        font-weight: 500;
        font-size: 18px;
        background-color: #fff;
        color: crimson;
        border: 1px solid crimson;
    }
}