<div class="Nasabah-container">
    <div class="AddButtonContainer">
        <div class="Table-title"> 
          <h1 class="title">Nasabah Lists</h1>
        </div>
        <button  (click)="AddDetails()" class="add">Add Customer</button>
    </div>
    <div class="table-con mat-elevation-z8">
        <table mat-table [dataSource]="TableData" class=" nasabah-table">
      
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="customerId">
              <th mat-header-cell *matHeaderCellDef > Customer ID </th>
              <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="nama">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.nama}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="nik">
              <th mat-header-cell *matHeaderCellDef> NIK </th>
              <td mat-cell *matCellDef="let element"> {{element.nik}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="dob">
              <th mat-header-cell *matHeaderCellDef> dob </th>
              <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
            </ng-container>
            <ng-container matColumnDef="AlamatKantor">
                <th mat-header-cell *matHeaderCellDef> Alamat Kantor </th>
                <td mat-cell *matCellDef="let element"> {{element.alamatKantor}} </td>
              </ng-container>
            <ng-container matColumnDef="monthlyIncome">
                <th mat-header-cell *matHeaderCellDef> Monthly Income </th>
                <td mat-cell *matCellDef="let element"> {{element.monthlyIncome}} </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <button class="mat-icon-button" (click)="EditData(element)">
                    <mat-icon class="mat-icon-edit">edit</mat-icon>
                  </button>
                  <button class="mat-icon-button" (click)="DeleteData(element)">
                    <mat-icon class="mat-icon-delete" >delete</mat-icon>
                  </button>
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator1 [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
        </mat-paginator>
      </div>

      <div *ngIf="deletestate" class="delete-confirmation">
        <div class="Container">
            <p class="delete-title">Are you sure you want to delete ?</p>
            <div class="btn-container">
                 <button class="delete-confirm" (click)="DeleteCustomer(DCustomer)">Confirm</button>
                 <button class="delete-cancel" (click)="deletestate = false">Cancel</button>
            </div>
        </div>
    </div>
</div>


