.Nasabah-container{
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    position: relative;

    .AddButtonContainer{
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
    }

    .title{
        color: crimson;
        font-weight: 700;
    }

    .add{
        width: 150px;
        height: 40px;
        border: 2px solid crimson;
        font-weight: 600;
        color: crimson;
        background-color: #fff;

        &:hover{
            color: #fff;
            background-color: crimson;
            cursor: pointer;
            transition: 0.3s all ease;
        }
    }
}

.table-con{
    width: 100%;
    height: 90%;
    margin: 30px auto;
}

.nasabah-table{
width: 100%;
margin: 0 auto;
}
.mat-column-customerId{
    padding: 20px;
}
.mat-column-nik{
    padding: 20px;
}

.mat-column-nama{
    padding: 20px;
}
.mat-column-dob{
    padding: 20px;
}
.mat-column-customerId{
    padding: 20px;
}
.mat-column-customerId{
    padding: 20px;
}

.mat-icon-edit{
    color: blue !important;
    margin-right: 20px;
}

.mat-icon-delete{
    color: red !important;
}

.delete-confirmation{
    position: absolute;
    width: 300px;
    height: 150px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: Crimson;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.delete-title{
    margin-bottom: 40px;
    font-size: 17px;
    color: white;
    font-weight: 500;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-confirm{
    padding: 5px;
    background-color: #fff;
    color: crimson;
    border: none;

    &:hover{
        background-color: crimson;
        color: white;
        border: 1px solid white;
        cursor: pointer;
    }
}

.delete-cancel{
    padding: 5px;
    background-color: #fff;
    color: crimson;
    border: none;

    &:hover{
        background-color: crimson;
        color: white;
        border: 1px solid white;
        cursor: pointer;
    }
}