<div class="chart-container">
    <app-kelamin-chart></app-kelamin-chart>
    <app-income-chart></app-income-chart>
</div>

<div class="chart-container">
    <app-profesi-chart></app-profesi-chart>
</div>

