.profesi-chart{
    width: 600px;
    background-color: #fff;
}

.chart-title{
    text-align: center;
    padding: 10px;
    color: crimson;
}

#profesiChart{
    height: 100px;
    width: 300px;
    padding: 20px;
}