.details-container {
    width: 100%;
    height: 100%;
}

.container{
    margin: 40px;
    display: flex;
}

.left{
    flex: 1;
}

.title-add{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Add-title{
    color: crimson;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

.User-profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.image-con{
    width: 150px;
    height: 150px;
}

.image-icon{
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.middle{
    flex: 2;
}

.form-edit{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title{
    color: crimson;
    font-weight: 700;
}
.single-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-select{
    width: 100%;
    padding: 7px;
}

.double-input{
    display: flex;
    width: 100%;
    gap: 30px;
}

.textarea-input{
    width: 100%;
    height: 60px;
}

.input-single{
    width: 100%;
    height: 15px;
    padding: 5px;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.btn-submit{
    width: 200px;
    height: 40px;
    background-color: crimson;
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;

    &:hover{
        color: crimson;
        background-color: white;
        transition: 0.3s;
        border: 1px solid crimson;
    }
}

.right{
    flex: 1;
}

