<div class="details-container">
    <div class="container">
        <div class="left">
            <div *ngIf="status" class="User-profile">
                <div class="image-con">
                    <img src="../../../assets/icons/male.png" class="image-icon" alt="">
                </div>
                <h3 class="customer-name">{{ customer.nama }}</h3>
            </div>
        </div>
        <div class="middle">
            <div *ngIf="!status" class="title-add">
                <h1 class="Add-title">Add Customer</h1>
            </div>
          <form  class="form-edit" [formGroup]="nasabahForm" (ngSubmit)="(EditUser())">
            <div *ngIf="!status" class="single-input">
                <label for="" class="input-label">Customer ID</label>
                <input type="text" formControlName="CustomerId" class="input-single">
            </div>
              <h2 class="title">Personal Information</h2>
                <div class="double-input">
                        <div class="single-input">
                            <label for="" class="input-label">Nama</label>
                            <input type="text" formControlName="Nama" class="input-single">
                        </div>
                        <div class="single-input">
                            <label for="" class="input-label">NIK</label>
                            <input type="text" formControlName="NIK" class="input-single">
                        </div>
                </div>
                <div class="double-input">
                    <div class="single-input">
                        <label for="" class="input-label">Date of Birth</label>
                        <input type="text" formControlName="DOB" class="input-single">
                    </div>
                    <div class="single-input">
                        <label for="" class="input-label">Jenis Kelamin</label>
                        <select class="input-select" formControlName="JenisKelamin">
                            <option *ngFor="let a of jenis_kelamin"  value="{{ a.jenisKelamin }}">{{ a.jenisKelamin }}</option>
                        </select>
                    </div>
                </div>
                <h2 class="title">Contact Information</h2>
                <div class="double-input">
                    <div class="single-input">
                        <label for="" class="input-label">Provinsi</label>
                        <select class="input-select" formControlName="Provinsi" (change)="ProvinsiChange()">
                            <option *ngFor="let a of provinsi"  value="{{ a.namaProvinsi }}">{{ a.namaProvinsi }}</option>
                        </select>
                    </div>
                    <div class="single-input">
                        <label for="" class="input-label">Kota</label>
                        <select class="input-select" formControlName="Kota" (change)="KotaChange()" >

                            <option *ngFor="let a of kota"  value="{{ a.namaKota }}">{{ a.namaKota }}</option>
                        </select>
                    </div>
                </div>
                <div class="double-input">
                    <div class="single-input">
                        <label for="" class="input-label">Kecamatan</label>
                        <select class="input-select" formControlName="Kecamatan" (change)="KecamatanChange()">
                            <option *ngFor="let a of kecamatan"  value="{{ a.namaKecamatan }}">{{ a.namaKecamatan }}</option>
                        </select>
                    </div>
                    <div class="single-input">
                        <label for="" class="input-label">Kelurahan</label>
                        <select class="input-select" formControlName="Kelurahan" (change)="KelurahanChange()" >
                            <option *ngFor="let a of kelurahan"  value="{{ a.namaKelurahan }}">{{ a.namaKelurahan }}</option>
                        </select>
                    </div>
                </div>
                <div class="double-input">
                    <div class="single-input">
                        <label for="" class="input-label">Kode Pos</label>
                        <select class="input-select" formControlName="KodePos">
                            <option *ngFor="let a of kodepos"  value="{{ a.kodePos }}">{{ a.kodePos }}</option>
                        </select>
                    </div>
                    <div class="single-input">
                        <div class="single-input">
                            <label for="" class="input-label">Emergency Contact</label>
                            <input type="text" class="input-single" formControlName="EmergencyContact">
                        </div>
                    </div>
                </div>
                
                <div class="double-input">
                        <div class="single-input">
                            <label for="" class="input-label">Alamat Domisili</label>
                            <textarea class="textarea-input" formControlName="AlamatDomisili"></textarea>
                        </div>
                        <div class="single-input">
                            <label for="" class="input-label">Alamat KTP</label>
                            <textarea class="textarea-input" formControlName="AlamatKTP"></textarea>
                        </div>
                </div>
                <div class="double-input">
                    <div class="single-input">
                        <label for="" class="input-label">Alamat Kantor</label>
                        <textarea class="textarea-input" formControlName="AlamatKantor"></textarea>
                    </div>
                    <div class="single-input"></div>
                </div>
                <h2 class="title">Career Information</h2>
                <div class="double-input">
                        <div class="single-input">
                            <label for="" class="input-label">Profesi</label>
                            <select class="input-select" formControlName="Profesi">
                                <option *ngFor="let a of job_list"  value="{{ a.profesi }}">{{ a.profesi }}</option>
                            </select>
                        </div>
                        <div class="single-input">
                            <label for="" class="input-label">Periode</label>
                            <input type="text" class="input-single" formControlName="Periode">
                        </div>
                </div>
                <div class="double-input">
                    <div class="single-input">
                        <label for="" class="input-label">Nama Perusahaan</label>
                        <input type="text" class="input-single" formControlName="NamaPerusahaan">
                    </div>
                    <div class="single-input">
                        <label for="" class="input-label">Monthly Income</label>
                        <input type="text" class="input-single" formControlName="MonthlyIncome">
                    </div>
                </div>
                <div class="btn-container">
                    <button class="btn-submit">Save</button>
                </div>
          </form>
        </div>
        <div class="right">

        </div>
    </div>
</div>