.sidebar-main{
    height: 100vh;
    position: fixed;
    width: 240px;
    background-color: white;
    border-right: 1px solid #ddd;

    .sidebar-wrapper{

        .logo-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 70px;
            border-bottom: 1px solid #ddd;

            .logo{
                font-weight: 700;
                font-size: 30px;
                color: crimson;
            }

        }

        .sidebar-menu{
            margin-top: 20px;

            .menu-wrapper-link{
                text-decoration: none;
            }



            .menu-wrapper{
                padding: 15px 20px;
                margin: 10px 10px;
                color: crimson;
                border-radius: 10px;

                &:active{
                    color: white;
                    background-color: crimson;
                    cursor: pointer;
                }

                &:hover{

                    color: white;
                    background-color: crimson;
                    cursor: pointer;
                }
               

                .menu-item{
                    font-size: 16px;
                }
            }
        }


    }
}