<div class="sidebar-main">
    <div class="sidebar-wrapper">
        <div class="logo-wrapper">
            <span class="logo">Bonjour.</span>
        </div>
        <div class="sidebar-menu">
            <ng-container *ngFor="let m of menu" >
            <a routerLink="{{m.Link}}" class="menu-wrapper-link" routerLinkActive="active">
                <div  class="menu-wrapper" >
                    <div class="menu-item" >{{ m.title }}</div>
                </div>
            </a>
        </ng-container>
        </div>
    </div>
</div>