<div class="navbar">
    <div class="navbar-con">
        <div class="navbar-left">
            <div class="search-container">
                <form action="" class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
                    <input 
                        type="text" 
                        class="search-input"
                        name="search"
                        ngModel
                        placeholder="Search...."
                    >
                    <button class="search-button">Search</button>
                </form>
            </div>
        </div>
        <div class="navbar-right">
            <div class="navbar-itemcon">
                <mat-icon aria-hidden="false" aria-label="Example home icon">notifications</mat-icon>
            </div>
            <div class="navbar-itemcon">
                <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
            </div>
            <div class="navbar-itemcon">
                <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
            </div>
        </div>
    </div>
</div>