.navbar{
    position: fixed;
    top: 0;
    left: 240px;
    width: calc(100vw - 240px);
    height: 70px;
    border: 1px solid #ddd;
    background-color: #fff;
    z-index: 15;

    .navbar-con{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-left{
        margin-left: 40px;
        flex: 1;

        .search-input{
            width: 300px;
            height: 14px;
            padding: 10px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            outline: none;
            border: 1px solid crimson;
        }

        .search-button{
            border: none;
            outline: none;
            background-color: crimson;
            padding: 10px;
            border-left: 1px solid rgba(219, 21, 21, 0.3);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            font-weight: 700;
            color: white;
            transition-duration: 0.3s;
            cursor: pointer;

            &:hover{
                cursor: pointer;
                background-color: #fff;
                color: crimson;
                border: 1px solid crimson;
            }
        }
    }

    .navbar-right{
        margin-right: 30px;
        display: flex;

        .navbar-itemcon{
            margin-right: 30px;
        }
    }
}